/* Reset */
body, h1, label, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://png.pngtree.com/background/20210709/original/pngtree-color-travel-tourism-vacation-picture-image_917677.jpg');
    margin: 0;
    background-size: cover;
}

/* Form Container */
.form-container {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 20px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 4rem;
    color:black;
    margin-bottom: 20px;
}

/* Form Groups */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 5px;
    color: black;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Submit Button */
.submit-button {
    width: 100%;
    padding: 12px;
    font-size: 24px;
    color: white;
    background: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background: #0056b3;
}
